<th:block th:fragment="footer-fragment">
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Never quit</h5>

                    <p>
                        "If you quit once it becomes a habit. Never quit!" - Michael Jordan
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-5 col-md-8 mb-5 mb-md-0">
                    <h5 class="text-uppercase">You can buy jordans from:</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.footlocker.eu/gdpr?c=BG&l=en" class="text-dark"><img class="shops-logo" src="img/footlocker-logo.png" alt="footlocker-logo" /> FootLocker</a>
                        </li>
                        <li class="sportdepot">
                            <a href="https://www.sportdepot.bg/" class="text-dark"><img class="shops-logo2" src="img/sportdepot-logo.png" alt="sportdepot-logo" /> SportDepot</a>
                        </li>
                        <li class="nike">
                            <a href="https://www.nike.com/bg/" class="text-dark"> <img class="shops-logo" src="img/nike-logo.png" alt="nike-logo" /> Nike</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright: IVAN TSONEV ALL RIGHTS RESERVED
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</th:block>