<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/lux.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel='icon' href='../static/img/jumpman-logo.png' type='image/x-icon' sizes="16x16" />
    <!-- libraries-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Shoes</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark mybg-primary">
        <a class="navbar-brand" href="#"><img class="logo" src="../static/img/jumpman-logo.png" alt="jumpman-logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shoes.html">Shoes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Log in/Sign up</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Log in</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign up</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="main-container container-fluid row">
        <div class="about-container container col-sm-6 text-center">
            <div class="heading-brand">
                About us
            </div>
            <div class="history-brand">
                Our site is made to give you some information about the air jordan brand. You can register in our site and rate every model with star rating. You can also leave a comment about specific model.
            </div>
            <div class="jordan-collage">
                <img src="../static/img/jordancollage.jpg" alt="jordan-collage">
            </div>
            <div class="heading-brand">
                Brief history of Jordan brand
            </div>
            <div class="history-brand">
                In 1994, with a freshly retired Michael Jordan beginning a new career in the White Sox farm system, Nike did something it would do hundreds of times to much fanfare over the ensuing 25 years: re-release pairs of Air Jordans that had long been out of production.
                The first time the company did it, though, not many people seemed to care. To mark the 10th anniversary of its flagship shoe, Nike dropped pairs of the famous Bred and Chicago colorways, making them available to the public for the first
                time since they fell out of production in 1986.
            </div>
            <div class="dots">
                <img src="../static/img/dots.png" alt="dots">
            </div>
            <div class="history-brand">
                Maybe the $80 price tag was too much for an old shoe when new ones didn’t cost much more at the time. Maybe it was the fact that Jordan was off playing baseball. Maybe it was the plethora of other sneaker options on the market, including MJ’s latest,
                the Air Jordan 10. The shoes sat on shelves. Retailers began slashing the price, until they reached $19.99. And then, as Kenneth Myers Jr. recalls, they hit stores not known for carrying coveted kicks. “I wouldn’t even say they were outlet-bound,”
                says Myers Jr., a 25-year AJ1 aficionado who runs the Instagram account mr_unloved1s and traces his love of sneakers to those 1994 retros. “Sears, JCPenney, depending on where you lived at, was where you were going to find them.”
            </div>
        </div>
    </div>

    </div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Never quit</h5>

                    <p>
                        "If you quit once it becomes a habit. Never quit!" - Michael Jordan
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-5 col-md-8 mb-5 mb-md-0">
                    <h5 class="text-uppercase">You can buy jordans from:</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.footlocker.eu/gdpr?c=BG&l=en" class="text-dark"><img class="shops-logo" src="../static/img/footlocker-logo.png" alt="footlocker-logo" />FootLocker</a>
                        </li>
                        <li class="sportdepot">
                            <a href="https://www.sportdepot.bg/" class="text-dark"><img class="shops-logo2" src="../static/img/sportdepot-logo.png" alt="sportdepot-logo" /> SportDepot</a>
                        </li>
                        <li>
                            <a href="https://www.nike.com/bg/" class="text-dark"><img class="shops-logo" src="../static/img/nike-logo.png" alt="nike-logo" /> Nike </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright: IVAN TSONEV ALL RIGHTS RESERVED
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</body>

</html>