<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<th:block th:include="~{/_shared/head :: head-fragment}"></th:block>

<body>
    <th:block th:include="~{/_shared/navbar :: navbar-fragment}"></th:block>
    <div class="main-container container-fluid row">
        <div class="about-container container col-sm-6 text-center">
            <div class="heading-brand">
                About us
            </div>
            <div class="history-brand">
                Our site is made to give you some information about the air jordan brand. You can register in our site and rate every model with star rating. You can also leave a comment about specific model.
            </div>
            <div class="jordan-collage">
                <img src="img/jordancollage.jpg" alt="jordan-collage">
            </div>
            <div class="heading-brand">
                Brief history of Jordan brand
            </div>
            <div class="history-brand">
                In 1994, with a freshly retired Michael Jordan beginning a new career in the White Sox farm system, Nike did something it would do hundreds of times to much fanfare over the ensuing 25 years: re-release pairs of Air Jordans that had long been out of production.
                The first time the company did it, though, not many people seemed to care. To mark the 10th anniversary of its flagship shoe, Nike dropped pairs of the famous Bred and Chicago colorways, making them available to the public for the first
                time since they fell out of production in 1986.
            </div>
            <div class="dots">
                <img src="/img/dots.png" alt="dots">
            </div>
            <div class="history-brand">
                Maybe the $80 price tag was too much for an old shoe when new ones didn“t cost much more at the time. Maybe it was the fact that Jordan was off playing baseball. Maybe it was the plethora of other sneaker options on the market, including MJ“s latest,
                the Air Jordan 10. The shoes sat on shelves. Retailers began slashing the price, until they reached $19.99. And then, as Kenneth Myers Jr. recalls, they hit stores not known for carrying coveted kicks. “I wouldn“t even say they were outlet-bound,“
                says Myers Jr., a 25-year AJ1 aficionado who runs the Instagram account mr_unloved1s and traces his love of sneakers to those 1994 retros. “Sears, JCPenney, depending on where you lived at, was where you were going to find them.“
            </div>
        </div>
    </div>
    </div>
    <th:block th:include="~{/_shared/footer :: footer-fragment}"></th:block>
</body>

</html>